@import "normalize";

// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.clearfix:after, .clearfix:before {
	content: "";
	display: table;
	clear: both;
}

@import "_typography";
@import "_layout";
@import "_print";
